body {
  font-family: 'Amaranth', sans-serif;
  background-color: #CAF0FF;
}
.header {
  margin: 80px 0;
  text-align: center;
}
#map {
  width: 1000px;
  height: 600px;
  margin: 0 auto 0 auto;
}

#text-field {
  width: 150px;
}

.fishies {
 height: 100px;
 border-radius: 50%;
 border-color: red;
 border-width: 10px;
 border-style: solid;
 margin: 5px;
}

.info-box {
  width:250px;
  font-family: 'Amaranth', sans-serif;
}

.radio {
  text-align: justify;
}
.weather-window {
  width:250px;
  font-family: 'Amaranth', sans-serif;
}
